member6/src/main/resources/xsd/statistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="statistics">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="college" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="students" type="xs:unsignedShort"/>
                            <xs:element name="courses" type="xs:unsignedShort"/>
                            <xs:element name="choices" type="xs:unsignedShort"/>
                        </xs:sequence>
                        <xs:attribute name="name" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="A"/>
                                    <xs:enumeration value="B"/>
                                    <xs:enumeration value="C"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="summary" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="totalStudents" type="xs:unsignedShort"/>
                            <xs:element name="totalCourses" type="xs:unsignedShort"/>
                            <xs:element name="totalChoices" type="xs:unsignedShort"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="timestamp" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
