member1/schema/unified/formatClass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://school.example/schema/unified/class"
           xmlns="http://school.example/schema/unified/class"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:element name="classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="class" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="time" type="xs:unsignedShort" minOccurs="0"/>
              <xs:element name="score" type="xs:unsignedByte"/>
              <xs:element name="teacher" type="xs:string"/>
              <xs:element name="location" type="xs:string"/>
              <xs:element name="college">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="C"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="share">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="optional" default="1.0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
