member1/schema/unified/formatStudent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://school.example/schema/unified/student"
           xmlns="http://school.example/schema/unified/student"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="sex">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="M"/>
                    <xs:enumeration value="F"/>
                    <xs:enumeration value="U"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="major" type="xs:string"/>
              <xs:element name="college">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="C"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="account" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="optional" default="1.0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
