member1/schema/unified/formatClassChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://school.example/schema/unified/choice"
           xmlns="http://school.example/schema/unified/choice"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:element name="choices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="choice" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sid" type="xs:string"/>
              <xs:element name="cid" type="xs:string"/>
              <xs:element name="requestCollege">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="C"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ownerCollege">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="C"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="score" type="xs:unsignedByte" minOccurs="0"/>
              <xs:element name="operation">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="ENROLL"/>
                    <xs:enumeration value="DROP"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="status" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="PENDING"/>
                    <xs:enumeration value="SUCCESS"/>
                    <xs:enumeration value="FAILED"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="traceId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="optional" default="1.0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
